.table {
    border-collapse: collapse;

    .input {
        height: 25px; 
        width:53px;
    }

    .button {
        margin: 3px;
    }
}
.table tr th {
    border: 1px solid #ddd;
    padding: 0 5px;
}

.table tr td {
    border: 1px solid #ddd;
    padding: 0 5px;
}